{% extends "base.html" %}

{% block title %}Athletrics - Login{% endblock %}

{% block content %}
<div id="strava-dashboard" class="login-page">
    <div class="login-container">
        <div class="login-content">
            <div class="login-text">
                <h1>Advanced</h1>
                <p>analytics for<br>your Strava<br>activities</p>
            </div>
            <a href="{{ url_for('auth.login') }}" class="strava-button">
                Connect
            </a>
        </div>
    </div>
</div>
{% endblock %}